    <meta charset="utf-8">
    <title>
        {%- if renderData.title or title -%}
            {{  renderData.title or title }}
        {%- endif %}
        {%- if layout != "landing" %} | {{ metadata.title }}{%- endif -%}
    </title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" media="print" onload="this.media='all'">
    <noscript>
         <style>
            @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
            .noscript-hide {
                display: none;
            }
        </style>
    </noscript>
    <link rel="preload" href="/assets/fonts/EuclidInitialsnormal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/main.css">

<meta name="msvalidate.01" content="{{ metadata.msvalidate01 }}" />
<meta name="theme-color" content="{{ metadata.color }}">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="524">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
<meta property="og:url" content="{{ metadata.url }}{{ permalink }}">
<meta property="og:image" content="{{ metadata.url }}{{ card or image or metadata.image }}">
<meta property="og:type" content="website" >
<link rel="canonical" href="{{ metadata.url }}{{ permalink }}" >
<meta name="keywords" content="{{ tags }}">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/site/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/site/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/site/favicon-16x16.png">
<link rel="shortcut icon" href="/assets/images/site/favicon.ico">
<meta name="msapplication-TileColor" content="{{ metadata.color }}">
<meta name="msapplication-config" content="/assets/images/site/browserconfig.xml">
<meta name="theme-color" content="{{ metadata.color }}">



<link rel="manifest" href="/site.webmanifest">

<script src="/assets/js/modernizr.js" async></script>
<script id="loadLiteYtEmbed" src="/assets/js/lite-yt-embed.js" defer></script>
<script src="/assets/js/instantpage-3.0.0.js" defer></script>