---
permalink: /site.webmanifest
---
{
    "name": "{{ metadata.title }}",
    "short_name": "{{ metadata.short_title }}",
    "start_url": "{{ metadata.url }}",
    "display": "browser",
    "background_color": "{{ metadata.color_background }}",
    "theme__color" : "{{ metadata.color }}",
    "description": "{{ metadata.description }}",
    "icons": [{
        "src": "/assets/images/site/android-chrome-192x192.png",
        "sizes": "192x192",
        "type": "image/png" }, {
        "src": "/assets/images/site/android-chrome-512x512.png",
        "sizes": "512x512",
        "type": "image/png" }
    ]
}