.timer {
     span {
        font-size: 2em;
        font-weight: bold;
        font-variant-numeric: tabular-nums;
    }
}
.landing__countdown {
    text-align: center;
    p {
        font-size: 1.5em;
    }
}