@use "../global" as *;
main h1 + p:not(.no-dropcap)::first-letter, main h2 + p:not(.no-dropcap)::first-letter, .dropcap::first-letter, main h1 + .no-dropcap + p:not(.no-dropcap)::first-letter, main h2 + .no-dropcap + p:not(.no-dropcap)::first-letter {
    float: left;
    font-size: 9em;
    padding: 0;
    position: relative;
    line-height: 1em;
    font-family: "Euclid Initials";
}