@use "../global" as *;
// why won't this work
// The size-adjust makes 9rem look too big, but 5rem is too small without size-adjust. 
p {
    --dropcap-size: 4.8lh;
}

@supports (size-adjust: 225%) {
    p {
        --dropcap-size: 4.8lh;
    }
}
main h1 + p:not(.no-dropcap)::first-letter, main h2 + p:not(.no-dropcap)::first-letter, .dropcap::first-letter, main h1 + .no-dropcap + p:not(.no-dropcap)::first-letter, main h2 + .no-dropcap + p:not(.no-dropcap)::first-letter {
    float: left;
    float: inline-start;
    font-size: 9em;
    font-size: var(--dropcap-size);
    padding: 0.25rem 0.25rem 0 0;
    line-height: var(--dropcap-size);
    font-family: "Euclid Initials", $font-family !important;
}