@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/ebgaramond-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+0020-007F;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/ebgaramond-normal-special-characters.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+2116, U+17F;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/ebgaramond-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
  unicode-range: U+0020-007F;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/ebgaramond-italic-special-characters.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
  unicode-range: U+2116, U+17F;
}