.timeline-container {
    overflow-x: scroll;
}
.timeline {
    --timeline-width: max(100%, 50em);
    --timeline-period: calc(var(--timeline-end) - var(--timeline-start));
    --timeline-scale: calc((1 / var(--timeline-period)) * var(--timeline-width));
    --grid-color: var(--grey-400);
    --grid-line-width: 1px;
    --grid-line-space: calc(var(--timeline-scale) * 10);
    background: repeating-linear-gradient(to right, var(--grid-color) 0 var(--grid-line-width), transparent var(--grid-line-width) var(--grid-line-space), transparent var(--grid-line-space));
    padding: 1em 0;
    width: var(--timeline-width);
    max-width: unset;
}
.timeline li {
    --timeline-bar-height: 1em;
    --bar-color: var(--shade-color);
    margin: 0.5em auto;
    margin-left: calc((var(--start) - var(--timeline-start)) * var(--timeline-scale));
    --period: calc(var(--end) - var(--start));
    width: max(calc(var(--period) * var(--timeline-scale)), var(--timeline-bar-height));
    print-color-adjust: exact; 
    display: block;
    white-space: nowrap;
    padding: 0;
    border-bottom: var(--timeline-bar-height) solid var(--bar-color);
    max-width: unset;
    align-content: center;
    }

li.timeline-group-1 {
    --bar-color: #3fe268;
}
li.timeline-group-2 {
    --bar-color: #3f58e2;
}
li.timeline-group-3 {
    --bar-color: #e25a3f;
}
li.timeline-group-4 {
    --bar-color: #e2993f;
}
li.timeline-group-5 {
    --bar-color: #683fe2;
}
li.timeline-group-6 {
    --bar-color: #d23fe2;
}