@use "variables" as *;
@use "text" as *;
@use "../../.././node_modules/rfs/scss" as rfs with(
    $rfs-factor: 10
);

//semi-automatic font-size...
@for $i from 1 through 6 {
    h#{$i} {
        @include rfs.font-size(( (1 /2) * ( 8 - $i*2) + (1/2) ) * 1rem);
        margin-bottom: 0;
        @extend %text-shadow;
   }
}

h1, h2 {
    font-weight: $font-weight-headings;
    font-family: $font-family-headings;
    text-align: left;
    a {
        @extend %a-hover;
        &:hover {
            @extend %a;
        }
    }
}