@use "variables" as *;
@use "sass:color";

html {
	font-size: $font-size;
	line-height: $line-height;
}
body {
    font-family: $font-family;
    color: $primary-text-color;
    font-weight: $font-weight;
    text-align: $text-align;
}
%text-shadow {
    text-shadow: -0.07rem -0.07rem 0em color.scale($primary-background-color, $alpha: -40%)
}
%selection {
	background-color: $primary-text-color;
    color: $primary-background-color;
    border-color: transparent;
    outline: none;
}
*::selection {
	@extend %selection;
}
%a {
	text-decoration: underline;
}
%a-hover {
	border-color: transparent;;
	text-decoration: none;
}
%a-focus {
    @extend %selection;
}
a {
	@extend %a;
	&:hover {
		@extend %a-hover;
        }
    &:focus, &:active {
        @extend %a-focus;
    }
}


blockquote {
    margin: 0 5rem;
    quotes: "\201C""\201D""\2018""\2019";
  }

pre {
    overflow-x: auto;
}

  // font feature settings
  // https://raw.githubusercontent.com/georgd/EB-Garamond/master/specimen/Specimen.pdf
body {
    font-feature-settings: "liga", "hlig", "clig", "dlig", "calt";
}
sub {
    font-feature-settings: "subs";
}
sup {
    font-feature-settings: "sups";
}