@use "variables" as *;
@use "sass:color";

html {
	font-size: $font-size;
	line-height: $line-height;
}
body {
    font-family: $font-family;
    color: $primary-text-color;
    font-weight: $font-weight;
    text-align: $text-align;
}
%text-shadow {
    text-shadow: -0.07rem -0.07rem 0em color.scale($primary-background-color, $alpha: -40%)
}
%selection {
	background-color: $primary-text-color;
    color: $primary-background-color;
    border-color: transparent;
    outline: none;
}
*::selection {
	@extend %selection;
}
%a {
	text-decoration: underline;
}
%a-hover {
	border-color: transparent;;
	text-decoration: none;
}
%a-focus {
    @extend %selection;
}
a {
	@extend %a;
	&:hover {
		@extend %a-hover;
        }
    &:focus, &:active {
        @extend %a-focus;
    }
}


blockquote {
    margin: 0 5rem;
    quotes: "\201C""\201D""\2018""\2019";
  }

figure {
    margin: 2em 0;
}

pre {
    overflow-x: auto;
}

  // font feature settings
  // https://raw.githubusercontent.com/georgd/EB-Garamond/master/specimen/Specimen.pdf
body {
    font-feature-settings: "liga", "hlig", "clig", "dlig", "calt";
}
sub {
    font-feature-settings: "subs";
}fi
sup {
    font-feature-settings: "sups";
}

.full-width {
    min-width: calc(100vw - 4rem); 
    position:relative; 
    @media (min-width: 52rem) {
        right: calc(50vw - 26rem);
    }
}

.table-container {
    // https://www.bram.us/2019/10/24/pure-css-scroll-shadows-vertical-horizontal/
    overflow: scroll;
    --background-color: #{$primary-background-color};
    --shadow-color: #{$grey-800};
    --shadow-size: 0.75em;
    --transparent: rgba(255, 255, 255, 0); /* We can't use "transparent" directly, because Safari would interpret the color as "transparent black" (see https://css-tricks.com/thing-know-gradients-transparent-black/). Using this workaround, it works fine. */

    background:
    linear-gradient(to right, var(--background-color), var(--background-color), var(--transparent) calc(var(--shadow-size) * 2)),
    radial-gradient(farthest-side at 0 50%, var(--shadow-color), var(--transparent)),
    linear-gradient(to left, var(--background-color), var(--background-color), var(--transparent) calc(var(--shadow-size) * 2)),
    radial-gradient(farthest-side at 100% 50%, var(--shadow-color), var(--transparent)) 100%;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
  background-size: 100% 100%, var(--shadow-size) 100%, 100% 100%, var(--shadow-size) 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.5em;
    border: 1px solid #{$primary-text-color};
}

#works-cited + ul, #bibliography + ul, #references + ul {
    list-style-type: none;
    padding: 0;
    li {
        margin: 1em 0 1em 3em;
        text-indent: -3em;
    }
}