---
layout: default
title: Writing
permalink: /writing/
---
{% set postslist = collections.posts %}
<ul reversed class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist__item">
    <h2><a href="{{ post.url | url }}" class="postlist__item__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
    <p><time class="postlist__item__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
  </li>
{% endfor %}
</ul>