---
title: Micah Torcellini's Website
permalink: /
tags:
  - nav
navtitle: Home
---
<p>Greetings! I am Micah Torcellini, a Swamp Yankee from the land of Swamp Yankees, namely, Northeastern Connecticut. I'm interested in the Liberal Arts, especially <a href="/tags/theology/">Theology</a>, <a href="/tags/philosophy/">philosophy</a>, <a href="/tags/music">music</a>, and <a href="/latin/">Latin</a>.</p>

<p class="no-dropcap"><a href="/tags/">See tags.</a>
{% set postslist = collections.posts  %}
{% include "postslist.njk" %}