---
title: Micah Torcellini's Website
layout: landing
permalink: /
tags:
  - nav
navtitle: Home
---
<!--<div class="landing__background"></div>-->
<div class="landing__fullscreen">
    <header class="header print-hide">
      {% include "layouts/organisms/nav.njk" %}
    </header>
  <div class="landing__jumbotron" id="content">
    <h1 class="landing__jumbotron__header"><span class="landing__jumbotron__header__name">Micah Torcellini</span><br>Web Developer</h1>
    <div class="landing__jumbotron__arrow">
      <a href="#main-content">
        <span class="-sr">Skip to content</span>
        <img src="/assets/images/site/arrow-down.svg" alt="">
      </a>
    </div>
  </div>
</div>
<div class="landing__container">
  <main class="landing__content flex-container" id="main-content">
    <div class="col -w6">
      <p>Greetings! I am <a href="/about/">Micah Torcellini, a web developer from Connecticut. </p> 
    </div>
    <div class="col-w6">
      <h2>
        <a href="/writing/">Writing</a>
      </h2>
        {% include "layouts/molecules/postlist.njk" %}
    </div>
  </main>

  <div class="flex-container content-container">
  </div>
</div>
<footer id="footer" class="footer">
  {% include "layouts/organisms/footer.njk" %}
</footer>
