---
title: Video Library
permalink: /videos/
layout: default
---
<p><a href="https://www.youtube.com/channel/UCasS9b9ZaC6qq_StZsw-geg">View Scramble's YouTube channel here</a></p>

<ul class="gallery -video">
    {% for item in videos %}
    <li>
        {% ytEmbed item.id, 16, 9, item.title %}
    </li>
    {% endfor %}
</ul>