

//https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack
$font-family-default:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


//insert preferred font where $font-family-default is, leaving $font-family-default as a fallback, unless preferred font is much different
$font-family: "EB Garamond", Garamond, Georgia, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;

//font family for headings
$font-family-headings: "Cormorant Garamond", #{$font-family};
$line-height-headings: 1.2;

$line-height: 1.5;
$font-size: 1.1rem;

$font-weight: 400;
$font-weight-headings: $font-weight;

$text-align: justify;