// The font loading used to be here; see https://www.filamentgroup.com/lab/load-css-simpler/
@use "euclid-uri" as *; 

@font-face {
  font-family: 'Euclid Initials';
  src: url('/assets/fonts/euclidinitialsnormal.woff2') format('woff2'),
       url('/assets/fonts/euclidinitialsnormal.woff') format('woff'),
       url('/assets/fonts/euclidinitialsnormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 225%;
}
// @font-face { 
//   font-family: "Euclid Initials";
//   src: $euclid-uri format ('woff2');
//   unicode-range: U+004D,U+0041-0042,U+0047-0049,U+0053-0054;
//   font-display: block;
// }

@font-face {
  font-family: 'EB Garamond';
  src: url('/assets/fonts/ebgaramond-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/assets/fonts/ebgaramond-normal-special-characters.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+2116,U+17F;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/assets/fonts/ebgaramond-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/assets/fonts/ebgaramond-italic-special-characters.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+2116,U+17F;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/assets/fonts/cormorantgaramond.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/assets/fonts/cormorantgaramond-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

//https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack
$font-family-default:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


//insert preferred font where $font-family-default is, leaving $font-family-default as a fallback, unless preferred font is much different
$font-family: "EB Garamond", Garamond, Georgia, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;

//font family for headings
$font-family-headings: "Cormorant Garamond", $font-family;
$line-height: 1.25;
$font-size: 1.1rem;

$font-weight: 400;
$font-weight-headings: $font-weight;

$text-align: justify;