<div class="container">
    <div class="postlist__item__share">
        <a rel="noopener" title="Share on Facebook" href="http://www.facebook.com/sharer.php?u={{metadata.url}}{{page.url}}" target="_blank" class="share__link -fb">
            <span class="share__button -fb">
                <span class="-sr">Share on Facebook</span>
            </span>
        </a>
        <a rel="noopener" title="Share on Twitter" href="http://twitter.com/share?url={{metadata.url}}{{page.url}}" target="_blank" class="share__link -tw">
            <span class="share__button -tw">
                <span class="-sr">Share on Twitter</span>
            </span>
        </a>
        <button title="print" onclick="window.print()" class="share__link -print">
            <span class="share__button -print">
                <span class="-sr">Print</span>
            </span>
        </button>
    </div>
</div>