<div class="container">
    <p class="col -n12" style="text-align: center">&copy; <a href="/">Micah Torcellini</a><span class="print-hide"> | <a href="/feed.xml">RSS</a> | <a href="/colophon/">Colophon</a> | <a href="/resume/">Resume</a></p>
</div>