    {% if layout == "landing" %}
    <h2>Countdown to Duck Day</h2>
    {% endif %}
    <p class="timer" id="timer">
        Only <span id="days">_</span> days, 
        <span id="hours">_</span> hours 
        <span id="minutes">_</span> minutes, and 
        <span id="seconds">_</span> seconds left until Duck Day!
    
    <br>Where will you be?</p>