---
layout: base
---
   <main class="main" id="content">
        {% if not notitleheader %}<h1>{{ title }}</h1>{% endif %}
        {{ content | safe }}
      </main>
    <footer id="footer" class="footer">
      {% include "layouts/organisms/footer.njk" %}
    </footer>