---
permalink: "/{{ page.date | date: '%Y/%m/%d' }}/{{ page.fileSlug }}/"
---
<!doctype html>
<html lang="{{ lang or metadata.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    {% include "layouts/partials/headcontent.njk" %}
  </head>
  <body class="{{ bodyclass }}">
   <main class="main" id="content">
        {% if not notitleheader %}<h1>{{ title | safe}}</h1>{% endif %}
        <p class="no-dropcap"><time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date |readableDate }}</time>&nbsp;|&nbsp;{{ words or content | wordcount }} words</p>
        {{ content | safe }}
      </main>
    <footer id="footer" class="footer">
      {% include "layouts/organisms/footer.njk" %}
    </footer>
  </body>
</html>