---
layout: default
templateClass: tmpl-post
---
<p class="no-dropcap" style="font-style: italic"><time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date |readableDate }}</time></p>


{{ content }}